.container {
  padding: 30px;
  padding-top: 51px;
  position: fixed;
  right: 0;
  top: 50;
  width: 25%;
  overflow-y: auto;
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 50%);
  height: 100vh;
}